ul {
	max-width: 900px;
	margin: 0 auto;

    li {
    	margin: 50px auto;
        list-style: none;
        
        width: 60%;
        text-align: center;
       transition: all 0.4s;
       background-color: #36aeae;
&:hover {
                background-color: #288484;
            }
        a {        	
            font-family: 'Roboto', sans-serif;
            font-size: 16px;
            font-weight: 300;
            text-transform: uppercase;
            text-decoration: none;
            text-align: center;           
            color: #fff;
       padding: 20px 0px;
            width: 100%;
            display: block;
        }
    }
}