// including fonts
@font-face{
    font-family: "HarabaraMaisBold";
    src: url("../fonts/HarabaraMaisBold-HarabaraMaisBold.eot"),
        url("../fonts/HarabaraMaisBold-HarabaraMaisBold.svg"),
        url("../fonts/HarabaraMaisBold-HarabaraMaisBold.ttf"),
        url("../fonts/HarabaraMaisBold-HarabaraMaisBold.woff");
}

// main
img {
    height: auto;
    max-width: 100%;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.main {
    background-image: url("../img/common-bg.jpg");
    background-size: contain;
    background-repeat: repeat-y;
}
.sq{
	margin: 0 auto;
	position: relative;
	height: 75px;
	width: 75px;
	background-color: #00000091;
	transform: rotate(45deg);
	z-index: 0;
	.num{
		position: absolute;
		left: 13px;
		font-family: "lato";
		font-size: 65px;
		text-transform: uppercase;
		font-weight: bold;
		color: #019edb;
		transform: rotate(-45deg);
	}
}
// fonts
@mixin number {
    font-family: "lato black";
    font-size: 65px;
    text-align: center;
    text-transform: uppercase;
}

@mixin descrption {
    font-family: "lato"
}

// header
header {
    background-image: url("../img/head-bg.png");
    background-size: 100% 60%;
    background-repeat: no-repeat;
    .container {
        max-width: 1145px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        .logo-wrap {
            max-width: 425px;
        }
        .menu {
            margin-left: 120px;
            max-width: 600px;
            padding-top: 20px;
            li {
                display: inline-block;
                a {
                    padding: 5px 15px;
                    display: inline-block;
                    font-family: "lato";
                    font-size: 14px;
                    font-weight: bold;
                    text-transform: uppercase;
                    color: #373636;
                    letter-spacing: 0.16px;
                }
            }
        }
    }
    .block-wraper {
    	display: flex;
    	flex-direction: column;
        flex-wrap: wrap;     
        max-width: 1122px;
        margin: 0 auto;
        .rot-block {          
            transform: rotate(-45deg);
            overflow: hidden;            
            * {
                transform: rotate(45deg);                
            }
        }
        .first {
           margin-top: 117px;
    margin-left: 29.819%;         
            background-color: #019edb;           
            width: 75px;
        }
        .second {
            margin-left: 4.954%;    
    margin-top: 26px;
            box-shadow: -5.7px 4.1px 23px 0 rgba(35, 31, 32, 0.57);
            background-color: #1b1b1b;           
            width: 35.650%;
            z-index: 3;
            .content-wraper{
                top: 125px;
                left: 49px;
                position: absolute;            	           	
            	transform: rotate(0deg);
            }
            .header-head {
                position: relative;
    width: 118%;
    top:4px;
    left: 66px;
                font-family: "lato";
                font-size: 33px;
                text-transform: uppercase;
                font-weight: bold;
                color: #019edb;
                margin-bottom: 15px;
            }
            .header-desc {
            	position: relative;
                top: -35px;
                left: 15px;            	
                font-family: "lato";
                font-size: 15px;
                line-height: 23px;
                text-align: center;
                max-width: 265px;
                color: #ffffff;
                margin-bottom: 15px;
            }
            .header-btn {
            	position: relative;
                top: -47px;
    left: 20px;            	
                display: block;
    font-family: "lato";
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    width: 125px;
    padding: 13px 5px;
    text-align: center;
    border-radius: 15px;
    background-color: #019edb;
    color: #ffffff;
    max-width: 125px;
            }
        }
        .third {
            margin-left: 30.630%;
    margin-top: -560px;
            width: 68.981%;
                   .bg{
                   position: absolute;                  
    top: -25%;
    left: -25%;
    right: -25%;
    bottom: -25%;
    transform-origin: center center;
    background-position: 50% 50%;
    background-image: url("../img/head-bg.jpg");
    background-size: cover;
    background-position: 50% 50%;
     }            
        }
        .forth {
                      margin-left: 21.441%;
    height: 325px;
    margin-top: -207px;     
            width: 28.966%;
            background-color: #019edb;
            z-index: 4;
            .num{
            	position: relative;
            	top: 123px;
    left: 164px;
            	font-family: "lato";
            	font-size: 82px;
            	font-weight: bold;
            	text-transform: uppercase;
            	color: #fff;
            }
            .head{
            	position: relative;
            	top: 76px;
    right: -70px;
            	font-family: "lato";
            	font-size: 24px;
            	font-weight: bold;
            	text-transform: uppercase;
            	color: #ffffff;
            }
            .desc{
            	position: relative;
    top: 46px;
    left: 9px;
    font-family: "lato";
    font-size: 15px;
    text-align: left;
    max-width: 290px;
    color: #ffffff;
    line-height: 18px;;
            }
        }
        .fifth {  
       margin-top: -325px;
       margin-left: 46%;          
            width: 36.987%;
            z-index: 3;
          .bg{
          position: absolute;       
    top: -25%;
    left: -25%;
    right: -25%;
    bottom: -25%;
    transform-origin: center center;
    background-position: 50% 50%;
    background-image: url("../img/head-bg2.jpg");
    background-size: cover;
          }
        }
        .text-container{
            margin-top: 130px;
        	.chose-head{
        		font-family: "lato";
        		font-size: 37px;
        		font-weight: bold;
        		text-transform: uppercase;
        		text-align: center;
        		color: #ffffff;
        		margin-bottom: 20px;
        	}
        	.chose-desc{
        	font-family: "lato";
        	font-size: 24px;
        	font-weight: bold;
        	text-transform: uppercase;
        	text-align: center;
        	color: #ffffff;
        	margin-bottom: 55px;
        	}
        	.fx-container{
        		display: flex;
        		flex-wrap: wrap;
        		justify-content: center;
                align-items: center;
        		.block{
        			max-width: 320px;
    padding: 40px 6px 50px 24px;
    background-color: #4545459c;
    margin: 0 28px;
        			 .chose-block-head{
        			 	font-family: "HarabaraMaisBold";
        			 	font-size: 26px;
        			 	text-align: left;
                        text-transform: uppercase;
        			 	color: #ffffff;
        			 	margin-bottom: 20px;
        			 }
        			 .chose-block-desc{
        			 	  font-family: "Lato";
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
        			 }

        		}
                .sq{
                  height: 10px;
            width: 10px;
            background-color: #fff;
            position: relative;
            transform: rotate(-45deg);
            margin: 0 30px;
            &:after {
                content: " ";
                position: absolute;
                bottom: 7px;
                left: 29px;
                height: 45px;
                width: 2px;
                background-color: #fff;
                transform: rotate(45deg);
            }
            &:before {
                content: " ";
                position: absolute;
                top: 7px;
                left: -20px;
                height: 45px;
                width: 2px;
                background-color: #fff;
                transform: rotate(45deg);
            }}}}      
        .chose-btn{
                           display: block;
    font-family: "lato";
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    color: #ffffff;
    max-width: 125px;
    text-align: center;
    padding: 13px 10px;
    background-color: #019edb;
    border-radius: 28px;
    margin: 12px auto 110px;
                     }
    }
}
// header end
// portfolio
.portfolio{	
    position: relative;
    overflow: hidden;
    width: 100vw;
		.bg-container{
            position: absolute;
            top: -55%;
            height: 100vw;
		width: 100vw;
        transform: rotate(45deg);
        overflow: hidden;
        .bg{
       position: absolute;
    top: 37%;
    left: 20%;
    right: -29%;
    bottom: -25%;
    transform-origin: center center;
    background-position: 50% 50%;
    background-image: url("../img/portfolio-bg.jpg");
    background-size: cover;
    transform: rotate(-45deg);
}
	}
	.container{		
		display: flex;
	max-width: 1200px;
	margin: 0 auto;
	.rot-block{
		overflow: hidden;
		transform: rotate(45deg);
    }
	.first{
	    margin-top: 39%;
    margin-left: 23%;
		width: 16.666%;
		background-color: #00000091;
		.num{
            position: relative;
    top: 0px;
    left: 43px;			
			font-family: "lato";
			font-size: 87px;
			font-weight: bold;
			text-transform: uppercase;
			color: #019edb;
			transform: rotate(-45deg);
		}
	}
	.second{
	    margin-top: 63%;
    margin-left: -29%;
    width: 30.833%;
		.bg{
		    position: absolute;
    top: -25%;
    left: -25%;
    right: -25%;
    bottom: -25%;
    transform-origin: center center;
    background-position: 50% 50%;
    background-image: url(../img/portfolio-block.jpg);
    background-size: cover;
    background-position: 50% 50%;
    transform: rotate(-45deg);
		}
	}
	.third{
  margin-top: 50%;
    margin-left: -7%;
    width: 31.5%;
    z-index: 1;
		background-color: #fff;
		.head{
			position: absolute;
		top: 124px;
    left: 34px;
			font-family: "lato";
			font-size: 42px;
			font-weight: bold;
			text-transform: uppercase;
			color: #019edb;
			transform: rotate(-45deg);

		}
		.desc{
			position: absolute;
			top: 165px;
    left: 71px;
			font-family: "lato";
			font-size: 16px;
			color: #1b1b1b;
			line-height: 20px;
			text-align: center;
			max-width: 260px;
			transform: rotate(-45deg);
		}
		.btn{
            position: relative;
    bottom: -261px;
    left: 210px;
    padding: 10px 5px;
    display: block;
    width: 125px;
    transform: rotate(-45deg);
    background-color: #019edb;
    font-family: "lato";
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    border-radius: 18px;
		}
	}
	.forth{
		    margin-top: 63%;
            margin-right: 0%;
            width: 31.33%;
		.bg{
			position: absolute;
			top: -25%;
			left: -25%;
			right: -25%;
			bottom: -25%;
			transform-origin: center center;
			background-position: 50% 50%;
			background-size: cover;
			background-position: 50% 50%;
			transform: rotate(-45deg);
			background-image: url("../img/portfolio-block-2.jpg");
			transform: rotate(-45deg);
        }
	}	
}
.text-container{
      display: flex;
    flex-direction: column;
    align-items: center;
    padding: 77px 5px;
    .portfolio-head{
        font-family: "lato";
        font-size: 17px;
        font-weight: 600;
        text-transform: uppercase;
        text-align: center;
        color: #fff;
        margin-bottom: 30px;
    }
    .portfolio-desc{
        font-family: "lato";
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        color: #ffffff;
        max-width: 800px;
        margin: 0 5px;
    }
}
}
// end portfolio
// work
.work {
    padding: 95px 5px 145px;
    background-image: url("../img/how.jpg");
    background-size: cover;
    .container {
        max-width: 1210px;
        margin: 0 auto;
        .work-head {
            font-family: "lato";
            font-size: 35px;
            font-weight: bold;
            text-align: center;
            text-transform: uppercase;
            color: #ffffff;
            margin-bottom: 30px;
        }
        .work-desc {
            font-family: "lato";
            font-size: 24px;
            font-weight: bold;
            text-transform: uppercase;
            text-align: center;
            color: #ffffff;
            margin-bottom: 80px;
        }
        .fx-container {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 5px;
            .block {
                display: inline-flex;
                align-items: center;
                max-width: 335px;
                .img-wraper {
                    position: relative;
                    padding: 5px 5px;
                    height: 45px;
                    min-width: 45px;
                    margin-right: 25px;
                    border-radius: 50%;
                    border: 2px solid #fff;
                    img {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        width: 25px;
                    }
                }
                .work-block-head {
                    font-family: "lato";
                    font-size: 17px;
                    font-weight: bold;
                    letter-spacing: 0.21px;
                    color: #019edb;
                    margin-bottom: 18px;
                }
                .work-block-desc {
                    font-family: "Lato";
                    font-size: 16px;
                    font-weight: 300;
                    line-height: 24px;
                    letter-spacing: 0.2px;
                    text-align: left;
                    color: #ffffff;
                }
            }
            .work-rect{
            	  height: 10px;
            width: 10px;
            background-color: #fff;
            position: relative;
            transform: rotate(-45deg);
            margin: 0 30px;
            &:after {
                content: " ";
                position: absolute;
                bottom: 7px;
                left: 29px;
                height: 45px;
                width: 2px;
                background-color: #fff;
                transform: rotate(45deg);
            }
            &:before {
                content: " ";
                position: absolute;
                top: 7px;
                left: -20px;
                height: 45px;
                width: 2px;
                background-color: #fff;
                transform: rotate(45deg);
            }
            }
        }
    }
}
// work end
// testimonials
.testimonials {
    padding: 105px 5px;
    background-image: url("../img/Layer-3.jpg");
    background-size: cover;
    .container {
        max-width: 815px;
        margin: 0 auto;
    }
    .head {
        font-family: "lato";
        font-size: 38px;
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
        color: #ffffff;
        margin-bottom: 21px;
    }
    .head-desc {
        font-family: "lato";
        font-size: 24px;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
        color: #ffffff;
        margin-bottom: 63px;
    }
    .flex-container {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        .block {
            display: flex;
            flex-direction: column;
            &:nth-child(1) {
                text-align: right;
                align-items: flex-end;
            }
            &:nth-child(2) {
                text-align: left;
                align-items: flex-start;
            }
        }
        .testimonials-description {
            font-family: "lato";
            font-size: 14px;
            line-height: 20px;
            color: #ffffff;
            max-width: 330px;
            margin-bottom: 30px;
        }
        .testimonials-btn {
            display: block;
            font-family: "lato";
            font-size: 15px;
            text-transform: uppercase;
            font-weight: bold;
            width: 125px;
            padding: 13px 5px;
            text-align: center;
            border-radius: 15px;
            background-color: #019edb;
            color: #ffffff;
        }
        .rect {
            height: 10px;
            width: 10px;
            background-color: #fff;
            position: relative;
            transform: rotate(-45deg);
            margin: 0 50px;
            &:after {
                content: " ";
                position: absolute;
                bottom: 7px;
                left: 29px;
                height: 45px;
                width: 2px;
                background-color: #fff;
                transform: rotate(45deg);
            }
            &:before {
                content: " ";
                position: absolute;
                top: 7px;
                left: -20px;
                height: 45px;
                width: 2px;
                background-color: #fff;
                transform: rotate(45deg);

            }
        }

    }
}

// testimonials end
// social
.social {
    padding: 45px 5px;
    background-color: #019edb;
    .container {
        max-width: 615px;
        margin: 0 auto;
        .social-wrap {
            display: flex;
            justify-content: space-between;
            li {
                position: relative;
                margin: 0 15px;
                height: 60px;
                min-width: 60px;
                border-radius: 50%;
                border: 2px solid #ffffff;
                a {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%)
                }
            }
        }
    }
}

// end social

// touch
.touch {
    padding: 154px 5px 75px 5px;
    // background-image: url("../img/common-bg.jpg");
    // background-size: cover;
    .touch-head {
        font-family: "lato";
        font-size: 19.3px;
        text-transform: uppercase;
        font-weight: bold;
        text-transform: uppercase;
        color: #fff;
        text-align: center;
        margin-bottom: 50px;
    }
    .container {
        margin: 0 auto;
        max-width: 1055px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .block {
            display: flex;
            align-items: center;
            max-width: 300px;
            margin: 15px 30px;
            img {
                margin-right: 35px;
            }
            .item-head {
                margin-bottom: 9px;
                font-family: "Lato";
                font-size: 17px;
                font-weight: bold;
                line-height: 1.41;
                letter-spacing: 0.21px;
                text-align: left;
                color: #ffffff;
            }
            .block-desc {
                font-family: "Lato";
                font-size: 16px;
                line-height: 1.5;
                letter-spacing: 0.2px;
                text-align: left;
                color: #ffffff;
            }
        }
    }
}

// touch end

// footer
footer {
    // background-image: url("../img/common-bg.jpg");
    // background-size: cover;
    .footer-desc {
        margin: 36.5px 27px 0 61.5px;
        font-family: "TimesNewRomanPSMT";
        font-size: 8.5px;
        line-height: 1.41;
        letter-spacing: 0.21px;
        text-align: center;
        color: #ffffff
    }

    .up-link {
        margin-top: 35px;
        display: flex;
        justify-content: center;

        img {
            cursor: pointer;
        }
    }
}

// footer end

// media queries
@media screen and (max-width:840px){
.work{
    .container{
        .fx-container{
            flex-direction: column;
            align-items: center;
            .block{
                    flex-direction: column;
                    align-items: center;
                    margin: 70px 5px;
                    .img-wraper{
                        margin: 10px 0px;
                    }                    
                    .work-block-desc, .work-block-head{
                        text-align: center;
                        

                    }
            }
        }
    }
}
}
@media screen and (max-width:500px){
    .testimonials{
        .flex-container{
             display: flex;
            flex-direction: column;
            align-items: center;
            .block{

                text-align: center !important;
                align-items: center !important;
                margin: 60px 0;
            }
        }
    }
}
// end
// media queries for square blocks
@media screen and (max-width: 1440px) {
	header{
        .block-wraper{
             .first{
                margin-bottom: 50px;
            }
            .third{
                margin-left: 25%;
            }
        }
    }
}
@media screen and (max-width: 1290px) {
    header{
        .block-wraper{
            .second{
                width: 29%;
                .header-head{

    top: -1px;
    left: 43px;
    font-size: 28px;
                }
                .header-desc{
                    top: -53px;
    left: -7px;
                }
                .header-btn{
                   top: -81px;
    left: 0px;
                }
            }
            .first{
                margin-bottom: 60px;
                margin-left: 22%;
            }
            .third{
                margin-left: 20%;
                width: 60%;
            }
        }
    }
    .portfolio{
        .container{
            .second{
                width: 27%;
            }
            .forth{
                width: 27%;
            }
        }
    }
}
@media screen and (max-width:1155px){
    header{
        .block-wraper{
            .first{
                    margin-left: 16%;
            }
            .second{
                position: relative;;
                 top: 664px;
    left: 30%;
            }
            .third{

            }
            .forth{
                    margin-left: 13.441%;
      margin-top: -38px;
      width: 23%;
      .head{
        top: 49px;
    right: -83px;
    font-size: 19px;
      }
      .desc{
        top: 7px;
        left: 8px;
        font-size: 13px;
      }
            }
            .fifth{
                    margin-top: -255px;
    margin-left: 65%;
    width: 23.987%;
                
            }
        }
        .fx-container{
            margin-top: 190px;
        }
    }
}
@media screen and (max-width:400px){
    header{
        .block-wraper{
            .second{
                    top: 57px;
    left: 31%;
            .header-head{
                top: -87px;
    left: -1px;
    font-size: 10px;
    
            }
            .header-desc{
              top: -120px;
    left: -25px;
    font-size: 6px;
    line-height: 5px;
            }
            .header-btn{
                    top: -144px;
    left: -56px;   
    font-size: 9px;
    padding: 8px 17px;    
    max-width: 91px;
            }
            }
            .third{
                margin-top: -400px;
            }
            .forth{
                .num{
                        top: 34px;
    left: 68px;
font-size: 18px;
                }
                .head{
                        top: 15px;
    right: -37px;
    font-size: 10px;
                }
                .desc{
                    top: 7px;
    left: 8px;
    font-size: 6px;
    line-height: 4px;
                }
            }
            
            .fifth{

            }
        }
    }
}